name: ci

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install build deps
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake make gcc

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build -- -j$(nproc)

      - name: Test
        run: ctest --output-on-failure --test-dir build
